@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;  
}

body {
    font-family: 'Lato', sans-serif;
    color: #f5f5dc;
    background-color: #232b2b;
}

/* HEADER */

.heading {
    line-height: 75px;
    background-color: #232b2b;
}

.logo h1 {
    font-family: 'Roboto', sans-serif;
    color: #e25822;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 280%;
    letter-spacing: 4px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 0;
}

.nav-bar a {
    text-decoration: none;
    color: #e25822;
}

.nav-bar a:hover {
    color: #e25822;
    border-bottom: 2px solid #e25822;
}

.nav-bar ul {
    list-style-type: none;
    float: right;
    margin-bottom: 0;
}

.nav-bar li {
    display: inline;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    padding-right: 10px;
}

.active {
    border-bottom: 2px solid #e25822;
}

/* HERO IMAGE */

  .hero {
    background: url("../images/pexels-leon-ardho-1552242.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: -120px;
    background-size: cover;
    height: 600px;
    width: 100%; 
  }  

/* INTRO */


/* TESTIMONIALS */


/* FOOTER */